<template lang="mustache">
  <div class="us-maturities__container min-vh-100 pa4">
    <div class="us-maturities__title">
      <div class="f1 us-maturities__headtext">U.S. Maturities: Yield Curve</div>
    </div>
    <div class="us-maturities__graph">
      <div class="relative" v-bind:class="{'us-maturities__spinner': isBlocked}">
        <div class="us-maturities__chart ct-chart ct-golden-section"></div>
      </div>
    </div>
    <div class="us-maturities__selector">
      <div class="nowrap f2">
        <button class="bw0 bg-inherit color-inherit hover-red us-maturities__headtext" v-on:click="addYear(-1)">-</button>
        <div class="dib w4 tc">{{year}}</div>
        <button class="bw0 bg-inherit color-inherit hover-green us-maturities__headtext" v-on:click="addYear(1)">+</button>
      </div>
      <div class="nowrap f2">
        <button class="bw0 bg-inherit color-inherit hover-red us-maturities__headtext" v-on:click="addMonth(-1)">-</button>
        <div class="dib w4 tc">{{month}}</div>
        <button class="bw0 bg-inherit color-inherit hover-green us-maturities__headtext" v-on:click="addMonth(1)">+</button>
      </div>
      <div class="nowrap f2">
        <button class="bw0 bg-inherit color-inherit hover-red us-maturities__headtext" v-on:click="addDay(-1)">-</button>
        <div class="dib w4 tc">{{day}}</div>
        <button class="bw0 bg-inherit color-inherit hover-green us-maturities__headtext" v-on:click="addDay(1)">+</button>
      </div>
    </div>
    <div class="us-maturities__predefined">
      <button class="f2 bw0 bg-inherit color-inherit hover-blue us-maturities__headtext" v-on:click="to()">{{latest}}</button>
      <button class="f2 bw0 bg-inherit color-inherit hover-red us-maturities__headtext" v-on:click="to('2005-12-19')">2005-12-19*</button>
      <button class="f2 bw0 bg-inherit color-inherit hover-red us-maturities__headtext" v-on:click="to('1998-06-12')">1998-06-12*</button>
      <button class="f2 bw0 bg-inherit color-inherit hover-red us-maturities__headtext" v-on:click="to('1988-12-05')">1988-12-05*</button>
      <button class="f2 bw0 bg-inherit color-inherit hover-blue us-maturities__headtext" v-on:click="to('1962-01-02')">1962-01-02^</button>
    </div>
    <transition-group tag="div" name="us-maturities__tweets" class="us-maturities__tweets">
      <div v-for="tweet in tweets" v-bind:key="tweet.id" v-html="tweet.html" class="us-maturities__tweets-item"></div>
    </transition-group>
  </div>
</template>

<style lang="css" module>
@import url('~tachyons/css/tachyons.min.css');
@import url('~chartist/dist/chartist.min.css');
@import url('~notie/dist/notie.min.css');

.us-maturities__container, .notie-container {
  --fore: #262222;
  --back: #fed900;
  --red: #ff4136;
  --blue: #357edd;
  background-color: var(--back);
  color: var(--fore);
  font-family: 'Roboto', sans-serif;
}
.us-maturities__headtext {
  font-family: 'Zilla Slab Highlight', 'Roboto', sans-serif;
}
.us-maturities__tweets {
  column-width: 20rem;
  column-gap: 1rem;
}
.us-maturities__tweets-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}
/*
 * Effects.
 */
.us-maturities__container ::selection {
  background-color: var(--fore);
  color: var(--back);
}
.us-maturities__spinner:before {
  /* Based on https://stephanwagner.me/only-css-loading-spinner. */
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10vmax;
  height: 10vmax;
  margin-top: -5vmax;
  margin-left: -5vmax;
  border-radius: 50%;
  border: 1.3vmax solid var(--fore);
  border-top-color: var(--back);
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.us-maturities__tweets-enter, .us-maturities__tweets-leave-to {
  opacity: 0;
}
.us-maturities__tweets-item {
  transition: all 1s;
}
/*
 * Notification styling. Shares styling with the main container, see above.
 */
.notie-container {
  box-shadow: none;
  color: var(--back);
}
.notie-background-error {
  background-color: var(--red);
}
.notie-background-info {
  background-color: var(--blue);
}
/*
 * Graph styling.
 */
.ct-series-a .ct-line {
  stroke: var(--fore);
  stroke-width: 10px;
}
.ct-series-a .ct-area {
  fill: var(--fore);
  fill-opacity: 0.2;
}
.ct-label {
  color: var(--fore);
}
.ct-grid {
  stroke: rgba(26, 22, 22, 0.7);
  stroke-width: 1px;
  stroke-dasharray: unset;
}
/*
 * Media-specific styling.
 */
.us-maturities__title {
  grid-area: tit;
}
.us-maturities__graph {
  grid-area: gra;
}
.us-maturities__selector {
  grid-area: sel;
}
.us-maturities__predefined {
  grid-area: pred;
}
.us-maturities__tweets {
  grid-area: twt;
}
@media (max-width: 599px) {
  .us-maturities__container {
    display: grid;
    grid-row-gap: 2rem;
    grid-template: "tit" auto
                   "gra" auto
                   "sel" auto
                   "pred" auto
                   "twt" auto / auto;
    align-content: start;
  }
  .us-maturities__selector {
    text-align: center;
  }
  .us-maturities__predefined {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .us-maturities__container {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template: "tit tit" auto
                   "gra sel" auto
                   "gra pred" auto
                   "twt twt" auto / 2fr 1fr;
    align-content: start;
  }
  .us-maturities__selector {
    text-align: left;
  }
  .us-maturities__predefined > button {
    display: block;
  }
}
</style>

<script src="./us-maturities.js"></script>
